{% extends 'base.html.twig' %}

{% block title %}Nouveau mdp{% endblock %}

{% block body %}
    <form method="post">
        <h1>Réinitialisation mot de passe</h1>
        <label for="inputPassword">Votre mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{token}">
    </form>
{% endblock %}