{% extends 'base.html.twig' %}

{% block title %}Nouveau mdp{% endblock %}

{% block body %}
    <form method="post">
        <h1>Réinitialisation mot de passe</h1>
        <label for="inputPassword">Votre mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <label for="inputPassword2">Confirmer votre mot de passe</label>
        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirmer mot de passe" required>
        <input type="hidden" name="token" value="{token}">
        <input type="submit" id="submitBtn" class="btn btn-success" value="Valider">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#submitBtn").click(function(event){
            if ($("#inputPassword").val() !== $("#inputPassword2").val()) {
                event.preventDefault();
                alert("Veuillez entrer les mêmes mots de passes !!")
            }
        });
    </script>
{% endblock %}