{% extends 'layout.html.twig' %}

{% block body %}
    {% block header %}
        <header class="page-header mt-5">
            <hr>
        </header>
    {% endblock %}
    <div class="container">
        <h1> Choix du dossard à imprimer</h1><br>
        <div class="btn-group-vertical">
            {# je dois changer l'affichage car ce n'est pas correcte, pas d'inspi #}
            {% for dossard in team.dances %}
                <button class="btn btn-default">
                    <a href="{{ path('createDossard', {id: team.id, dance:dossard.nameDance}) }}">Dossard pour {{ dossard.nameDance }}</a>
                </button><br>
            {% endfor %}
        </div>
    </div>
{% endblock %}