{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {% block header %}
        {#<figure class="image">
            <img  src="{{ asset('Images/bandeau.png') }}" width="1000" height="109">
        </figure>#}
        <header class="masthead text-center text-black d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase">
                            <strong>France Dance Organisation</strong>
                        </h1>
                        <hr>
                    </div>
                    <div class="col-lg-8 mx-auto">
                        <p class="text-faded mb-5">Bienvenue sur le site de la France Dance Organisation !</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="">Plus d'informations</a>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    <div class="container">
        Contenu Home
    </div>
{% endblock %}