{% extends 'layout.html.twig' %}

{% block body %}
    Page de création d'équipe.<br>
    {{ form(formEquipe) }}

    <hr>
    {% for team in club.teams if club.teams is not empty %}
        Equipe{{ team.id }}|<a href="{{ path('Equipe_description', {'id': team.id}) }}">Voir</a>
    {% else %}
        <p>Pas de d'équipe dans ce club</p>
    {% endfor %}
{% endblock %}

