{% extends 'layout.html.twig' %}

{% block body %}
Contenu Page4

    {{ form(formDanseur) }}
    {% for dancers in listDancer %}
        {{ dancers.nameDancer }} {{ dancers.firstNameDancer }}
        |<a href="{{ path('dancer_removeDancer', {'id': dancers.id }) }}">
            Supprimer</a>
        <br>
    {% endfor %}
{% endblock %}

