{% extends 'layout.html.twig' %}

{% block body %}
    Contenu Page2
    <a target="_blank" href="{{ path('createSamplePDF') }}">Créer un PDF</a>
    {% for dancer in dancers %}
        <p>{{ dancer.nameDancer }} {{ dancer.firstNameDancer }}
            <a target="_blank" href="{{ path('createDossard', {id: dancer.id}) }}">
                Dossard</a>
        </p>
    {% endfor %}
{% endblock %}

