{% extends 'layout.html.twig' %}

{% block body %}
    {% block header %}
        <header class="page-header mt-5">
            <hr>
        </header>
    {% endblock %}
    Contenu Page2
    <a target="_blank" href="{{ path('createSamplePDF') }}">Créer un PDF</a>
    {% for team in user.teams if user.teams is not empty %}
        <p>
            <a href="{{ path('home.chooseDossard', {id: team.id}) }}"> Dossards de l'équipe : {{ team.id }}</a>
        </p>
    {% else %}
        <p>Il vous faut créer une équipe</p>
    {% endfor %}
{% endblock %}

