{% extends 'base.html.twig' %}

{% block title %}Reglements{% endblock %}

{% block body %}
    <h1>Reglement index</h1>
    <hr>
    <ul class="list-group list-group-flush text-left mb-4">
        {% for reglement in reglements %}
            <li class="list-group-item">
                <a target="_blank" href="{{ asset('uploads/reglements/' ~ reglement.pdfFile) }}">{{ reglement.title }}</a>
                <div class="text-right">
                    {% include 'reglement/_delete_form.html.twig' %}
                </div>
            </li>
        {% else %}
            <li class="list-group-item">Pas encore de règlements enregistrés</li>
        {% endfor %}
    </ul>
    <a href="{{ path('Reglement.new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
