{% extends 'base.html.twig' %}

{% block title %}Enregistrer règlement{% endblock %}

{% block body %}
    <h1>Upload un règlement</h1>
    <hr>
    <div class="text-left">
        {{ include('reglement/_form.html.twig') }}
    </div>
    <a href="{{ path('Reglements.index') }}">back to list</a>
{% endblock %}
