.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img1{
    background-image: url("Images/dance1.jpg");
}
.img2{
    background-image: url("Images/dance2.jpg");
}
.img3{
    background-image: url("Images/dance3.jpg");
}