{% extends 'base.html.twig' %}

{% block title %}Créer Ticket{% endblock %}

{% block body %}
    <h1>Écrire un nouveau ticket</h1>

    {{ include('ticket/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('textarea.ckeditor').ckeditor();
        })
    </script>
{% endblock %}
