{% extends 'base.html.twig' %}
{% block title %}Choix du dossard{% endblock %}
{% block body %}
    <h1> Choix du dossard à imprimer</h1>
    <hr>
    <div class="row">
        {% for dossard in team.dances %}
	        {#<div class="col-md-4 col-12 mb-2">#}
            <a target="_blank" href="{{ path('Dossard.create', {id: team.id, dance:dossard.nameDance}) }}" class="btn btn-primary btn-block">{{ dossard.nameDance }}</a>
	        {#</div>#}
        {% endfor %}
    </div>
{% endblock %}