{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        <header class="page-header mt-5">
            <hr>
        </header>
    {% endblock %}
    <h1> Choix du dossard à imprimer</h1><br>
    <div class="btn-group-vertical">
        {# je dois changer l'affichage car ce n'est pas correcte, pas d'inspi #}
        <div class="row">
            {% for dossard in team.dances %}
                <div class="col-lg-4 mb-2">
                    <a target="_blank" href="{{ path('Dossard.create', {id: team.id, dance:dossard.nameDance}) }}" class="btn btn-primary">{{ dossard.nameDance }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}