{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Dossards des équipes</h1>
        <hr>
        {% if user.teams is not empty %}
            <div class="row">
	            {% for team in user.teams %}
                    <div class="col-lg-3 mb-4">
                        <a href="{{ path('Dossard.choose', {id: team.id}) }}" class="btn btn-info"> Dossards de l'équipe : {{ team.id }}</a>
                    </div>
	            {% endfor %}
            </div>
        {% else %}
            <p>Il vous faut créer une équipe</p>
        {% endif %}
    </div>
{% endblock %}

