{% extends 'base.html.twig' %}
{% block title %}Dossards des équipes{% endblock %}
{% block body %}
    <div class="container">
        <h1>Dossards des équipes</h1>
        <hr>
        {% if user.teams is not empty %}
            <div class="row">
	            {% for team in user.teams %}
                    <div class="col-lg-3 mb-4">
                        <a target="_blank" href="{{ path('Dossard.create', {id: team.id}) }}" class="btn btn-primary btn-block">Équipe {{ team.id }}</a>
                    </div>
	            {% endfor %}
            </div>
        {% else %}
            <p>Il vous faut créer une équipe</p>
        {% endif %}
    </div>
{% endblock %}

