{% extends 'base.html.twig' %}
{% block title %}Modification du danseur{% endblock %}

{% block body %}
    <div class="form-row text-center"><div class="col-12"><a href="{{ path('Dancer.showAllDancers') }}" class="btn btn-primary">Retour aux danseurs</a></div></div></br>
    {{ form(form) }}
{% endblock %}