<h3>Bien joué ! Vous êtes désormais inscrit !</h3><br>

Bienvenue {{ name }}! Votre création de compte s'est déroulé avec succès.

Pour vous connecter, <a href="{{ url('Security.login') }}">cliquez ici</a>.

Merci !