{% extends 'base.html.twig' %}

{% block title %}
    FDO
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block navigation %}
    {{ parent() }}


{% endblock %}

{% block body %}
    <div class="page-wrap">
        {{ parent() }}

    </div>
{% endblock %}

{% block footer %}
    <footer>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading">Contact</h2>
                        <hr class="my-4">
                        <p class="mb-5">Par Aurélien DREY, Antoine HEITZMANN, Raphael IENCO, Gauvain PATAKY, Olivier SALFRANC, Mattéo BILLET et l'IUT de Belfort-Montbéliard.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center">
                        <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                        <p>06 00 00 00 00</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                        <p>
                            <a href="mailto:your-email@your-domain.com">feedback@francedanceorganisation.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
{% endblock %}