{% extends 'base.html.twig' %}

{% block title %}
    FDO
{% endblock %}

{% block header %}
    {{ parent() }}
    <h1>France Danse Organisation</h1>
{% endblock %}

{% block navigation %}
    {{ parent() }}


{% endblock %}

{% block body %}
    {{ parent() }}



{% endblock %}

{% block footer %}
    {{ parent() }}
    <br>
    <hr>
    Par Aurélien DREY, Antoine HEITZMANN, Raphael IENCO, Gauvain PATAKY, Olivier SALFRANC, Mattéo BILLET et un peu l'iut
{% endblock %}