{% extends 'layout.html.twig' %}
{% block title %}{% endblock %}

{% block body %}

    <div >
        <h2> Etes vous certain de vouloir supprimer ce profil ? cette action sera definitive !</h2>

        <form action="" name="delete" method="POST" >
            <button type="submit" class="btn btn-success">OUI</button>
        </form>
        <form action="{{ path('User.show') }}" name="back" method="POST">
            <button type="submit" class="btn btn-success">NON</button>
        </form>

    </div>

{% endblock %}
